<div class="room-module">
  <div class="picture">
    <!--<img src="assets/{{layout_image_file_name}}" alt="ROOM"/>-->
  </div>
  <div class="room-info">
    <h4>{{name}}</h4>
    <h5>{{width}}x{{height}}</h5>
  </div>
</div>

