html,body,.container {
  height:100%;
}

.container {
  display: table;
  width: 100%;
  padding: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home {
  height: 100%;
}

.main-body {
  height: 100%;
  background: #EDEDF2;
}
