$pad: 20px;

.room-layout-item {

  background: #eee;
	float: left;
  padding-right: $pad;
  padding-bottom: $pad;
  margin: 10px;
  width: 200px;
  height: 250px;

  .room-layout-grid &:last-of-type {
    padding-right: 0;
  }

  .picture {

    img {
      max-width: 100%;
      max-height: 100%;
    }

    background: black;
    width: 200px;
    height: 125px;
  }

  .room-info {
    width: 200px;
    height: 125px;
    background: white;
    margin: auto;
    h4 {
      text-align: center;
    }
    h5 {
      text-align: center;
    }
  }
}
