.sidebar {

  background: #6C788E;
  height: 100%;
  
  h3 {
    margin-left: 10px;
    color: white;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 2px 0 2px 0;
      margin-left: 20px;
      a {
        color: white;
        font-size: 15px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }

    }

  }
}
